<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ASOC", "Index", "COMPONENT", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "COMPONENT")</li>
                    <li>@Html.ActionLink("КМ", "Index", "COMPONENT")</li>
                    
                     <li class="dropdown">
          <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
           Логи
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("Цены", "Index", "Price")</li>
            <li>@Html.ActionLink("Статусы", "Index", "CurrentStatus")</li>
          </ul>
        </li>



          <li class="dropdown">
          <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
           Добавить
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("Модель", "Index", "Model")</li>
            <li>@Html.ActionLink("Статусы", "Index", "Status")</li>
                <li>@Html.ActionLink("Типы", "Index", "Type")</li>
          </ul>
        </li>



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
